* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}
#div1 {
    background-color: #efe412;
    width: 60%;
    height: 50rem;
    margin: auto;
}

h1 {
    text-align: center;
    margin: auto;
    background-color: #d71313;
    color: gold;


}
input{
    margin-top: 20px;
    display: inline-block;
    text-align: center;
}

label {
    text-align: center;
    display: inline-block;

}

#result {
    font-size: 10px;
}
#choixJoueur {

}
button {

}
